.videos {
  width: 95%;
  margin: 0 auto;
}

.video {
  margin: 0.5em 0;
}

.channels {
  position: fixed;
  bottom: 0;
  left: 0;
}

.channel {
  display: inline-block;
  margin: 0 10px;
  border-radius: 30px;
  cursor: pointer;
}

.channel img {
  border-radius: 20px;
}